{% extends 'hexgame/base.html' %}
{% block title %}Home{% endblock title %}

{% block content %}
  <p>Welcome, {{ user.username }}.</p>

  <!-- Create Game -->
  <p>
      <a href="{% url 'create_game' %}">
          <button>Create a Game</button>
      </a>
  </p>

  <!-- Your Games -->
  <h2>Your Running Games</h2>

  <ul>
      {% for player in games %}
          <li>
              <a href="{% url 'game' player.game.id %}">
                  Game {{ player.game.id }}
              </a>
              - Turn: {{ player.game.turn_number }}
              — Players: [{% for p in player.game.players %}{{p.user.username}}, {% endfor %}]
              - Started: {{ player.game.creation_time }}
          </li>
      {% empty %}
          <li>You are not in any games yet.</li>
      {% endfor %}
  </ul>

  <form method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Log out</button>
  </form>
{% endblock content %}
