{% load static %}

<!DOCTYPE html>
<html>
<head>
    <script>
      function getCSRFToken() {
        const name = "csrftoken=";
        const cookies = document.cookie.split(";");

        for (let cookie of cookies) {
          cookie = cookie.trim();
          if (cookie.startsWith(name)) {
            return cookie.substring(name.length);
          }
        }

        return "";
      }
    </script>
    <title>HexGame | {% block title %}{% endblock title %}</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <style>
      {% block extracss %}
      {% endblock extracss %}
    </style>
</head>
<body>
  <div class="content">
    {% include 'hexgame/header.html' %}
    <div class="content-inner">
      {% block content %}
      {% endblock content %}
    </div>
  </div>

  <script>
    let archiveForms = document.getElementsByClassName("archive-form");

    for (var form of archiveForms) {
      form.addEventListener("submit", (e) => {
        e.preventDefault();

        let f = e.target;
        let fd = new FormData(f);

        if (confirm("Are you sure you want to change the archived state of game " + fd.get("game_id") + "?")) {
          f.submit();
        }
      })
    }
  </script>
</body>
</html>
