<style>

footer {
  height: var(--header-height);
  background: var(--text-color);
}

.footer-inner {
  display: flex;
  gap: var(--font-size-large);
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  p, a {
    color: white;
    font-weight: 400;
  }
  a {
    display: block;
    font-style: italic;
    font-weight: 400;
  }
}
</style>

<footer>
  <div class="footer-inner">
    <p>©2026 | HexGame | Ethan Kremer</p>
    <a href="https://ethankremer.com">ethankremer.com</a>
  </div>
</footer>
