{% extends 'hexgame/base.html' %}
{% block title %}Home{% endblock title %}

{% block extracss %}
  .game-lists {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    gap: var(--font-size-large);
  }
 
{% endblock extracss %}

{% block content %}
  <section class="game-lists">
    {% include "hexgame/game/components/game_list.html" with games=own_games is_own=True add_create_button=True title="Your Running Games" %}
    {% include "hexgame/game/components/game_list.html" with games=other_games is_own=False title="Spectatable Games" %}
  </section>
{% endblock content %}
