{% extends 'hexgame/base.html' %}
{% block title %}Home{% endblock title %}

{% block extracss %}

  .content {
    button {}

    button, h1 {
      margin: clamp(0.6rem, 2vh, 2.3rem) 0; 
    }
  }

  .logout-form {
    display: inline;
  }

  .games-list {
    list-style: none;
    padding-inline-start: 0;

    li {
      margin-bottom: clamp(0.6rem, 2vh, 2.3rem);
    }

    .game-info {
      display: block;
      font-size: clamp(0.6rem, 2vh, 2.3rem);
      color: #3c3c3c;
    }

  }

  .game-list-link {
    text-decoration: none;
    color: #2439e0;
    font-weight: bold;

    i {
      color: #753075;
    }
  }

  

  
{% endblock extracss %}

{% block content %}
  <h1>Welcome, {{ user.username }}.</h1>

  <a href="{% url 'create_game' %}">
      <button>Create a Game</button>
  </a>

  <form method="post" action="{% url 'logout' %}" class="logout-form">
      {% csrf_token %}
      <button type="submit">Log out</button>
  </form>

  {% include "hexgame/game/components/game_list.html" with games=own_games is_own=True %}
  {% include "hexgame/game/components/game_list.html" with games=other_games is_own=False %}
{% endblock content %}
