{% extends 'hexgame/base.html' %}
{% block title %}Home{% endblock title %}

{% block extracss %}

  .content {
    button {}

    button, h1 {
      margin: var(--font-size-small) 0; 
    }
  }

  .logout-form {
    display: inline;
  }

  .games-list {
    list-style: none;
    padding-inline-start: 0;

    li {
      margin-bottom: var(--font-size-xsmall);
    }

    .game-info {
      display: block;
      font-size: var(--font-size-small);
      color: #3c3c3c;
    }

  }

  .game-list-link {
    text-decoration: none;
    color: #2439e0;
    font-weight: bold;

    i {
      color: #e082e0;
    }
  }

  .archive-form button {
    padding: clamp(0.1rem, 0.3vh, 0.4rem) clamp(0.2rem, 0.6vh, 0.8rem);
    font-size: clamp(0.4rem, 1.4vh, 1.4rem);
    margin: clamp(0.2rem, 0.6vh, 0.8rem) 0;
  }

{% endblock extracss %}

{% block content %}

  <i>Logged in as: <b>{{ user.username }}</b></i>
 
  <section class="header-buttons">
    <a href="{% url 'create_game' %}">
        <button>Create a Game</button>
    </a>

    <form method="post" action="{% url 'logout' %}" class="logout-form">
        {% csrf_token %}
        <button type="submit">Log out</button>
    </form>
  </section>

  <section class="game-lists">
    <h1>Your Games</h1>
    {% include "hexgame/game/components/game_list.html" with games=own_games is_own=True %}
    <h1>Other Games (spectate)</h1>
    {% include "hexgame/game/components/game_list.html" with games=other_games is_own=False %}
  </section>

  <section class="bottom-section">
    <a href="{% url 'archive' %}">
        <button>Archived Games</button>
    </a>
  </section>

{% endblock content %}
