.element-actions-menu {
  position: absolute;
  width: min(100vw, 900px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(1rem, 3vh, 3rem);
  padding: 14px 0;
  top: 0;
}

.element-actions-menu-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(1rem, 3vh, 3rem);
  background: black;
  padding: 15px 25px;
  border-radius: 12px;
  border: solid white 2px;
}

.element-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: clamp(1rem, 3vh, 3rem);
  width: 100%;
  margin: 15px 0;

  .element-action-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: clamp(1rem, 3vh, 3rem);

    #backButton {
      grid-column: 2;
    }
  }
}

.fullwidth-option {
  grid-column: 1 / span 2;
}

.element-action-options, .element-action-items {
  button {
    min-width: 100px;
    span {

      font-size: clamp(1rem, 3vh, 3rem);
      color: black;
      display: flex;
      align-items: center;
      gap: clamp(0.5rem, 1.5vh, 1.5rem);
      img {
        /* background: darkgray; */

        width: clamp(1rem, 3vh, 3rem);
        height: clamp(1rem, 3vh, 3rem);
        padding: 4px;
      }

      div {

      }
    }
  }
}

.element-action-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: clamp(1rem, 3vh, 3rem);
}

.element-turn-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 3vh, 3rem);
}

.player-turn-text {
  width: 100%;
  text-align: center;
  font-size: clamp(1rem, 3vh, 3rem);
  color: white;

  span {
    font-weight: 600;
  }
}

.action-handling-text {
  font-size: clamp(1rem, 3vh, 3rem);
  color: white;
  text-transform: uppercase;
  font-weight: bold;
}

.warning-text {
  color: red;
}
