.element-actions-menu,
.element-actions-menu-inner,
.element-actions,
.element-action-items,
.element-turn-actions,
.element-action-options
{
  gap: var(--font-size-xsmall);
}

.element-actions-menu {
  position: absolute;
  width: min(100vw, 900px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--font-size-xsmall) 0;
  top: 0;
}

.element-actions-menu-inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #252525;
  padding: var(--font-size-xsmall) calc(var(--font-size-xsmall) * 1.25);
  border-radius: var(--font-size-xsmall);
  border: solid white 2px;
}

.element-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin: var(--font-size-xsmall) 0;

  .element-action-options {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    #backButton {
      grid-column: 2;
    }
  }
}

.fullwidth-option {
  grid-column: 1 / span 2;
}

.element-action-options, .element-action-items {
  button {
    min-width: 100px;
    span {

      color: #252525;
      display: flex;
      align-items: center;
      gap: clamp(0.5rem, 1.5vh, 1.5rem);
      img {
        /* background: darkgray; */

        width: clamp(1rem, 3vh, 3rem);
        height: clamp(1rem, 3vh, 3rem);
        padding: 4px;
      }

      div {

      }
    }
  }
}

.element-action-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.element-turn-actions {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-turn-text {
  width: 100%;
  text-align: center;
  color: #e3e3e3;

  span {
    font-weight: 600;
  }
}

.action-handling-text {
  color: #e3e3e3;
  text-transform: uppercase;
  font-weight: bold;
}

.warning-text {
  color: red;
}

.droptake-label {
  display: flex;
  gap: var(--font-size-xsmall);

  .droptake-label-image-span {
    img {
      width: clamp(1rem, 3vh, 3rem);
      height: clamp(1rem, 3vh, 3rem);
    }
  }
  .droptake-label-text-span {
    font-size: var(--font-size-small);
  }
}

.trade-button {
  img {
    width: clamp(1rem, 3vh, 3rem);
    height: clamp(1rem, 3vh, 3rem);
  }
}
