<style>
  .games-list {
    background: var(--dark-background);
    width: min(90vw, 800px);
    padding: var(--font-size-small);
    border-radius: var(--font-size-xsmall);
    position: relative;

    h1 {
      color: white;
      text-align: center;
      margin-bottom: var(--font-size-xsmall); 
    }
  }

  .games-list-table {
    width: 100%;
    border-collapse: collapse;

    th, td, b {
      color: white;
    }

    th, td {
      border: var(--table-border);
      padding: var(--font-size-xxsmall);
    }

    td {
      text-align: center;
    }
  }

  .game-row {
    button:not(.archive-button) {
      text-align: left;
      width: 100%;
    }
  }

  .td[colspan="6"] {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .archive-link {
    color: white;
    text-decoration: underline;
  }

  .archive-button {
    background: transparent;
    box-shadow: none;
    font-size: var(--font-size-xxsmall) !important;
    padding: 0;
    text-decoration: underline;
  }

  .game-link, button {
    font-weight: 400;
  }

  .emoji-span-happy {
    color: green;
  }

  .emoji-span-passive {
    color: yellow;
  }

  .emoji-span-angry {
    font-weight: bold;
    color: orange;
  }

  .emoji-span-furious {
    font-weight: bold;
    color: red;
  }

  .game-current-player i, .game-current-player b, .game-current-player span {
    font-size: var(--font-size-xxsmall) !important;

    display: block;
  }

  .game-last-player {
    span {
      color: white;
    }
  }

  .mobile-archive-link {
    display: none;
  }

  @media screen and (max-width: 1100px) {

    .mobile-archive-link {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: var(--font-size-xsmall);
      a {
        font-size: var(--font-size-xsmall);
      }
    }

    .archive-form {
      width: 100%;
      display: flex;
    }

    .archive-button {
      text-align: left !important;
    }

    .games-list-table {
      display: flex;
      flex-direction: column;
      width: 100%; 

      tbody, thead {
        display: flex;
        flex-direction: column;
        width: 100%;
      }

      .games-list-head-tr {
        display: none;
      }

      th, td {
        border: unset;
        padding: calc(3*var(--border-width));
        font-size: var(--font-size-xsmall);
      }

      tbody tr {
        border: var(--table-border);
        border-bottom: none;
      }
      tbody > :last-child {
        border-bottom: var(--table-border);
      }

      .game-row {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: stretch;
        align-items: center;
      }

      .game-turn-number, .game-last-player {
        text-align: left;
      }

      .game-current-player, .game-creator {
        text-align: right;
      }

      .game-link, .game-archive-button {
        grid-column: 1 / span 2;
        /* button { */
        /*   text-align: center !important; */
        /* } */
      }

      .game-archive-button button {
        font-size: var(--font-size-xsmall);
      }

      td[colspan="6"] {
        width: 100%;
        display: block;
        padding: var(--font-size-xxsmall) 0;

        button {
          width: calc(100% - calc(2*var(--font-size-xxsmall)));
        }
      }
    }
    .game-last-player:before {
      content: "Players: "
    }   
    .game-creator:before {
      content: "Created by: "
    }
    .game-turn-number:before {
      content: "Round #"
    }

    .game-creator:before {
      content: "Created by: ";
    }
  }
</style>

<div class="games-list">
  <h1>{{ title }}</h1>
  {% if is_own %}
    <div class="mobile-archive-link"><a class="archive-link" href="/archive/">Archive</a></div>
  {% endif %}
  <table class="games-list-table">
    <thead>
      <tr class="games-list-head-tr">
        <th>Game</th>
        <th>Round #</th>
        <th>Player Turn</th>
        <th>Players</th>
        <th>Created By</th>
        {% if is_own %}
          <th><a class="archive-link" href="/archive/">Archive</a></th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for game in games %}
        <tr class="game-row">
          <td class="game-link">
            <a href="{% url 'game' game_id=game.id %}">
              <button {% if game.current_player_turn_user != user %}class="secondary"{% else %}class="go-button"{% endif %}>

                  <span style="width: fit-content; color: white; font-weight: bold; display: block;">
                    {% if game.title %}
                      {{ game.id }}: {{ game.title }}
                    {% else %}
                      {{ game.id }}: unnamed 
                    {% endif %}
                  </span>
                  {% if game.current_player_turn_user == user %}
                    <span style="width: fit-content; color: white; font-weight: bold; display: block;">Your Turn</span>
                  {% endif %}
              </button>
            </a>
          </td>
          <td class="game-turn-number">{{ game.turn_number }}</td>
          <td class="game-current-player">
            {% if game.current_player_turn_user == user %}
            <b>Your turn for</b>
            {% else %}
              <i style="color: white;">{{ game.current_player_turn_user.username }}'s turn for</i>
            {% endif %}

            {% autoescape off %}
            {{ game.get_emoji_span_for_time }}
            {% endautoescape %}
          </td>
          <td class="game-last-player">
            {% for player in game.players %}
              <span>{{ player.user.username }}</span>
            {% endfor %}
            <!-- <b style="display: block;">{{ game.last_player_turn_user.username }}</b>{{ game.time_since_last_update_string }} ago -->
        </td>
          <td class="game-creator">{{ game.creator.username }}</td>
          {% if is_own %}
            <td class="game-archive-button">
                <form method="post" action="{% url 'toggle_archive_game' %}" class="archive-form">
                {% csrf_token %}
                <input hidden name="game_id" value="{{ game.id }}" />
                <button type="submit" class="archive-button">{% if game.archived %}Unarchive{% else %}Archive{% endif %} Game</button>
                </form>
            </td>
          {% endif %}
        </tr>

      {% empty %}
        <tr><td colspan="6">
        {% if is_own %}
          You are not in any games yet.
        {% else %}
          No games spectatable right now.
        {% endif %}
        </td></tr>
      {% endfor %}

      {% if add_create_button %}
        <tr>
          <td colspan="6">
            <a href="{% url 'create_game' %}">
              <button class="inverted">Create a Game</button>
            </a>
          </td>
        </tr>
      {% endif %}
    </tbody>
  </table>
</div>
