

<iframe name="dummyframe" id="dummyframe" style="display: none;"></iframe>

<ul class="games-list">
    {% for game in games %}
        <li>
            <a href="{% url 'game' game.id %}" class="game-list-link">
              <p class="game-title">
                Game {{ game.id }}
              </p>
              <i>Round {{ game.turn_number }}:</i>
              {% if game.current_player_turn_user.id == user.id  %}
                <i>Your Turn.</i>
              {% else %}
                <i>{{ game.current_player_turn_user.username }}'s Turn.</i>
              {% endif %}
            </a>
            <i class="game-info">
              <b>Players:</b> ( {% for p in game.players %}{{p.user.username}} {% endfor %})
            </i>

            <!-- <i class="game-info"> -->
            <!--   <b>Started:</b> {{ game.creation_time }} -->
            <!-- </i> -->
            <i class="game-info">
              <b>Last Update:</b> {{ game.time_since_last_update }} ago
            </i>

            <form method="post" action="{% url 'archive_game' %}" class="archive-form">
                {% csrf_token %}
                <input hidden name="game_id" value="{{ game.id }}" />
                <button type="submit">Archive Game</button>
            </form>
        </li>
    {% empty %}
        <li>You are not in any games yet.</li>
    {% endfor %}
</ul>
