<!DOCTYPE html>
<html>
<head>
    <title>Game {{ game.id }}</title>
    <style>

      iframe {
        width: calc(100vw - 30px);
        height: calc(100vh - 100px);
      }

    </style>
</head>
<body>
    <h1>Game {{ game.id }}</h1>
    <p>Players: [{% for player in game.players %}{{player.user.username}}, {% endfor %}]</p>

    <iframe src="/game/iframe/?game_id={{game.id}}" />

    <!-- Create Game -->
    <p>
        <a href="{% url 'home' %}">
            <button>Back Home</button>
        </a>
    </p>
</body>
</html>
